build/
debug/
dist/
.vscode/
.generated_files/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### MPLabX ###
#Ignore List for Microchip's MPLAB X IDE
#It's a form of NetBeans with vendor specific changes
#Taken from zeha on GIST https://gist.github.com/zeha/5999375
#Updated by Cristian Cristea (https://github.com/cristiancristea00)

*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.mk
*.map
*.properties
*.production
*.debug
cutcutgo.X/html/
cutcutgo.X/nbproject/private/
cutcutgo.X/nbproject/Package-*.bash
cutcutgo.X/build/
cutcutgo.X/debug/
cutcutgo.X/nbbuild/
cutcutgo.X/dist/
cutcutgo.X/nbdist/
cutcutgo.X/nbactions.xml
cutcutgo.X/nb-configuration.xml
cutcutgo.X/funclist
cutcutgo.X/nbproject/Makefile-*
cutcutgo.X/disassembly/
#cutcutgo.X/.generated_files/
